
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
  }
  
  .logo {
    display: flex;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-item a {
    display: flex;
    padding: 15px 15px;
    text-decoration: none;
    color: white;
  }
  
  .nav-item:hover {
    color: black;
    background-color: white;
    border-radius: 15px;
  }
  
  .nav-item:hover a {
    color: black;
  }
  
  .logo img {
    width: 10vw;
    vertical-align: middle;
  }

body{
    background-image:url(../foto/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

  header {
    margin-top: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

header .header-content {
  width: 90vw;
  display: flex;
  align-items: center;
  min-height: auto;
  text-align: center;
  background-color: white;
  padding: 2vw;
  border-radius: 15px;
  justify-content: center;
  gap: 5vw;
}

header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 1vw;
  font-size: 50px;
  font-weight: 300;
}

header .header-content .header-content-inner p {
  margin-bottom: 1vw;
  font-size: 18px;
  font-weight: 400;
  color: black;
}

ul{
  padding: 0;
}

.header-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
}

.header-btn {
  display: flex;
  justify-content: center;
 align-content: center;
}

.header-btn a {
  display: flex;
  justify-content: center;
  padding: 15px 15px;
  text-decoration: none;
  color: black;
}

.header-btn:hover {
  color: white;
  background-color: black;
  border-radius: 15px;
}

.header-btn:hover a {
  color: white;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 15px;
  background-color: white;
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
}


.myform {
  max-width: 60vw;
  display: flex;
  flex-direction: column;
  gap: .75rem;
  justify-content: space-evenly;
}

.formfield {
  display: flex;
  gap: 1rem;
  flex: 1;
}

.formfieldrow {
  display: flex;

  flex-direction: column;
  flex: 1;
}

input {
  color: #000000;
  font-size: 1.05rem;
  padding: 11px 5px;
  transition: .3s;
  border-radius: 0.5rem;
  border: 2px #b3b9c6 solid;
}

input:hover {
  transform: scale(1.05);
}

select {
  font-size: 1em;
  transition: .3s;
  padding: 11px;
  border-radius: 0.5rem;
}

select:hover {
  transform: scale(1.05);
}

input, select, option, textarea {
  text-shadow: none;
}

.container {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

button{
  padding: 15px 55px;
  border-radius: 15px;
}

button:hover {
  color: white;
  background-color: black;
  border-radius: 15px;
}

button:hover a {
  color: white;
}

footer{
  color: white;
  opacity: 0,5;
  text-align: center;
}

.section1{
  font-family:Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

@media (max-width: 1126px) {
  .column{
    max-width: 60vw;
    display: flex;
    flex-direction: row;
    gap: .75rem;
    justify-content: center;
  }

  .myform {
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    justify-content: center;
  }
  
  
  .formfield {
    display: flex;
  flex-direction: column;
    gap: 1rem;
    flex: 1;
  }
}



@media (max-width: 600px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo img {
    width: 40vw;
    vertical-align: middle;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  
  .column{
    max-width: 60vw;
    display: flex;
    flex-direction: row;
    gap: .75rem;
    justify-content: center;
  }

  .myform {
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    justify-content: center;
  }
  
  
  .formfield {
    display: flex;
  flex-direction: column;
    gap: 1rem;
    flex: 1;
  }
  
  .formfieldrow {
    display: flex;
  
    flex-direction: column;
    flex: 1;
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }

}
